body {
      background: #f9f9f9;
      
    }
    .sidebar {
      background-color: #edf2fa;
      height: 84vh;
      padding: 20px;
      position: relative;
      left: -12px;
    }
    .sidebar a {
      color: #031046;
      display: block;
      margin-bottom: 10px;
      text-decoration: none;

    }
    .sidebar a:hover {
      text-decoration: underline;
      border-radius: 5px;
      padding: 5px;
    }
    .header {
         background:linear-gradient(180deg, #4B2E8C,#2D2D8A);
      color: #E4572E;
      font-weight: 700;
      padding: 10px 20px;  
    }
    .footer {
      background: #333;
      color: #fff;
      padding: 10px 20px;
    
    }
.rounded-circle{
    border-radius: 50%;
}
.main{
  position: static;
  left: 0;
  top: 0;
  margin: 0;
  transform: none;
}

#register-worker{
  position: relative;
  bottom: -32px;
}

/* Ajoute dans index.css */
.container-fluid {
  display: flex;
}
.sidebar-container {
  width: 240px;
}
.content-container {
  flex: 1;
}

.head th{
  background-color: #E4572E;
}


    