body{
    background-image: url(../../../../../Downloads/logo.jpg); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position:center ;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 30px;
    padding: 30px;
     border-radius: 15px;
}
.login-form{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0,1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    

}
.login-form img {
    width: 80px;
    display: block;
    max-width: 0 auto 20px;
}
.container{
    display: flex;
    box-sizing: border-box;
 
    
}
.form-control{
    margin-top: 30px;
    size: 100px;
}
.mb-3 input{
    size: 30px;
}